@import './common.scss';

div.dtsr-confirmation,
div.dtsr-creation {
    h2 {
        font-size: 24px;
    }

    input[type="text"] {
        padding: 3px;
    }

    div.dtsr-creation-text {
        margin-bottom: 2em;
    }

	button {
        display: inline-block;
        margin: 1em;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        border: 1px solid rgba(0, 0, 0, 0.175);
        background-color: #f6f6f6;
        text-align: left;
        cursor: pointer;

        &:hover {
            background-color: #ebebeb;
        }
    }
}