
div.dtsr-modal {
    // Fomantic uses a span for info text, we've got a div.
    div.info.text {
        column-count: 1;
    }

    // Doesn't appear to be a vertical checkbox list option
    div.ui.checkbox {
        display: block;
        margin-bottom: 0.5em;
    }

    // No pull right?
    div.dtsb-modal-buttons {
        text-align: right;
    }
}