@import './common.scss';

div.dt-btn-split-wrapper {
    margin-bottom: 4px !important;

    button {
        margin-bottom: 0px !important;
    }
}

div.dt-button-collection {
    h3 {
        font-size: 1.1em;
    }
}

div.dtsr-creation-form {
    div.dtsr-form-row {
        input.dtsr-name-input {
            width: 57% !important;
            padding: 5px 4px;
            border: 1px solid #aaa;
            border-radius: 3px;
        }

        input.dtsr-check-box {
            margin-left: calc(33.3% + 30px) !important;
        }


        label.dtsr-toggle-title {
            margin-right: calc(-33.3% - 30px) !important;
        }
    }
}