@import './common.scss';

div.dtsr-form-row {
    display: block;
}

div.dtsr-creation-form {
    width: 100%;
}

div.checkbox {
    cursor: default;
}

span.dtsr-check-label {
    padding-left: 3px;
}

input.dtsr-input {
    display: inline-block;
    width: auto;
}

span.dtsr-confirmation-message {
    font-size: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 2.5em;
}